<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Working with a real world data-set using SQL and Python

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in SQLite database.
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

##### The syntax for connecting to magic sql using sqllite is

  **%sql sqlite://DatabaseName**   
  
where DatabaseName will be your **.db** file

In [1]:
import csv, sqlite3

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [2]:

!pip install -q pandas==1.1.5

In [3]:
%load_ext sql

In [5]:
%sql sqlite:///RealWorldData.db

'Connected: @RealWorldData.db'

### Store the dataset in a Table

##### In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data 
##### using SQL, it first needs to be stored in the database.

##### We will first read the csv files  from the given url  into pandas dataframes

##### Next we will be using the  df.to_sql() function to convert each csv file  to a table in sqlite  with the csv data loaded in it.

In [7]:
import pandas as pd
df_school = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv')
df_school.to_sql("chicagoschools", con, if_exists='replace', index=False, method = "multi")

Double-click **here** for the solution.
<!--

import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

-->

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [8]:
# type in your query to retrieve list of all tables in the database
%sql select * from chicagoschools limit 20

 * sqlite:///RealWorldData.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.4579999999, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56.0, 'Average', '44', 'Average', 45.0, 'Weak', 37.0, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', 11.1, 9.6, 0.9, 2.4, 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49.0, 'Strong', '60', 'Strong', 60.0, 'Average', 55.0, 'Weak', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', 15.6, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 1175177.622, 1880745.126, 41.82814609, -87.63279369, 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)'),
 (610212, 'Albany Park Multicultural Academy', 'MS', '4929 N Sawyer Ave', 'Chicago', 'IL', 60625, '(773) 534-5108', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610212.pdf', "O'Hare Elementary Network", 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Strong', 66.0, 'Weak', '37', 'Strong', 66.0, 'Strong', 71.0, 'Weak', '43', 'Average', '50', 'Weak', '46', 'Average', '51', '97.00%', 2.3, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '60.7', '39.8', '53.7', '59.8', '17.5', '20.8', 34.5, 15.6, 0.2, 0.3, 'Yellow', 'Yellow', '29.2', '50', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 266, 31, 'NDA', 1153858.196, 1932691.8909999998, 41.9711433, -87.70962725, 14, 'ALBANY PARK', 39, 17, '(41.9711433, -87.70962725)'),
 (609720, 'Albert G Lane Technical High School', 'HS', '2501 W Addison St', 'Chicago', 'IL', 60618, '(773) 534-5400', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609720.pdf', 'North-Northwest Side High School Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Very Strong', 88.0, 'NDA', 'NDA', 'Strong', 62.0, 'Average', 52.0, 'Weak', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '96.30%', 2.1, '96.20%', '99.40%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '19.1', '19.5', '19.9', '20.1', '1', '23.4', '3.5', '67.9', '92.2', '79.8', 4368, 35, '90.7', 1158975.392, 1923791.705, 41.94661693, -87.69105603, 5, 'NORTH CENTER', 47, 19, '(41.94661693, -87.69105603)'),
 (610342, 'Albert R Sabin Elementary Magnet School', 'ES', '2216 W Hirsch St', 'Chicago', 'IL', 60622, '(773) 534-4491', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610342.pdf', 'Fulton Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Standard', 'Probation', 'Level 3', 'No', 'Strong', 67.0, 'NDA', 'NDA', 'Weak', 30.0, 'Very Weak', 18.0, 'Weak', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '94.70%', 28.1, '95.00%', '100.00%', '56.3', 'NDA', '33.5', '33.5', '49.5', '49.5', '27.4', '39.3', '35.5', '44.4', '25', '23.4', 18.0, 12.8, -1.8, 0.1, 'Red', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 620, 35, 'NDA', 1161265.299, 1909314.592, 41.90684338, -87.68304259, 24, 'WEST TOWN', 1, 14, '(41.90684338, -87.68304259)'),
 (610524, 'Alcott High School for the Humanities', 'HS', '2957 N Hoyne Ave', 'Chicago', 'IL', 60618, '(773) 534-5979', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610524.pdf', 'North-Northwest Side High School Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'No', 'Strong', 70.0, 'NDA', 'NDA', 'Strong', 67.0, 'Average', 51.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Strong', '57', 'Weak', '43', '92.70%', 7.1, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.7', '13.7', 'NDA', '16', '1.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 232, 33, '87.6', 1161870.5559999999, 1919857.44, 41.93576106, -87.68052441, 5, 'NORTH CENTER', 1, 19, '(41.93576106, -87.68052441)'),
 (610209, 'Alessandro Volta Elementary School', 'ES', '4950 N Avers Ave', 'Chicago', 'IL', 60625, '(773) 534-5080', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610209.pdf', "O'Hare Elementary Network", 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Average', 43.0, 'Strong', '61', 'Weak', 28.0, 'Weak', 37.0, 'Weak', '62', 'Average', '56', 'Average', '51', 'Average', '53', '96.40%', 22.5, '95.90%', '100.00%', '63.9', '43.2', '51.3', '32.9', '50.7', '70', '52.5', '31.3', '59.8', '57.6', '16.5', '24.7', 19.9, 14.2, 0.3, -0.4, 'Yellow', 'Yellow', '31.6', '65.2', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1023, 31, 'NDA', 1149774.095, 1932831.1509999998, 41.97160605, -87.72464139, 14, 'ALBANY PARK', 39, 17, '(41.97160605, -87.72464139)'),
 (609799, 'Alexander Graham Bell Elementary School', 'ES', '3730 N Oakley Ave', 'Chicago', 'IL', 60618, '(773) 534-5150', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609799.pdf', 'Ravenswood-Ridge Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Very Strong', 99.0, 'Very Strong', '88', 'Strong', 64.0, 'Average', 46.0, 'Weak', '51', 'Average', '51', 'NDA', 'NDA', 'NDA', 'NDA', '96.30%', 6.3, '95.90%', '99.30%', '91.9', '67.3', '79.2', '77.4', '53.3', '54.7', '84.2', '83', '49.8', '53.6', '62.6', '71.7', 64.0, 57.9, 0.0, 0.3, 'Yellow', 'Yellow', '58.1', '65.6', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 998, 35, 'NDA', 1160327.881, 1924862.7219999998, 41.94952795, -87.68605496, 5, 'NORTH CENTER', 47, 19, '(41.94952795, -87.68605496)'),
 (609947, 'Alexander Graham Elementary School', 'ES', '4436 S Union Ave', 'Chicago', 'IL', 60609, '(773) 535-1308', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609947.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Average', 49.0, 'Weak', '30', 'Weak', 31.0, 'Weak', 33.0, 'Weak', '30', 'Average', '41', 'Average', '48', 'Average', '51', '92.50%', 27.4, '95.00%', '92.10%', '76.7', '47.4', '59.4', '38.8', '51.6', '76.2', '44.4', '31.3', '66.7', '49.3', '5.9', '35.3', 20.8, 11.1, 1.7, -0.5, 'Green', 'Yellow', '45.3', '31.8', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 476, 42, 'NDA', 1172335.702, 1875308.997, 41.81329195, -87.64338051, 61, 'NEW CITY', 11, 9, '(41.81329195, -87.64338051)'),
 (609963, 'Alexander Hamilton Elementary School', 'ES', '1650 W Cornelia Ave', 'Chicago', 'IL', 60657, '(773) 534-5484', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609963.pdf', 'Ravenswood-Ridge Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 73.0, 'Strong', '64', 'Strong', 60.0, 'Average', 59.0, 'Weak', '59', 'Average', '48', 'Strong', '57', 'Strong', '54', '95.30%', 12.5, '97.40%', '97.40%', '70.3', '47.2', '34.4', '48.4', '56.5', '62.9', '31.9', '46.8', '48.9', '51.1', '14.3', '35.7', 13.8, 21.3, 0.6, 0.6, 'Yellow', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 307, 33, 'NDA', 1164474.274, 1923334.414, 41.94524725, -87.67085683, 6, 'LAKE VIEW', 32, 19, '(41.94524725, -87.67085683)'),
 (610210, 'Alexander von Humboldt Elementary School', 'ES', '2620 W Hirsch St', 'Chicago', 'IL', 60622, '(773) 534-4480', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610210.pdf', 'Fulton Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Standard', 'Probation', 'Level 3', 'No', 'Weak', 31.0, 'NDA', 'NDA', 'Weak', 32.0, 'Average', 45.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Weak', '43', 'Weak', '44', '92.50%', 185.5, '96.00%', '100.00%', 'NDA', '32.6', '23.6', '24', '56.3', '54', '31.8', '19.7', '60.7', '39.7', '9.1', '20.5', 8.6, 5.7, -0.4, -1.2, 'Yellow', 'Red', '14.6', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 398, 34, 'NDA', 1158554.232, 1909250.021, 41.90672216, -87.69300325, 24, 'WEST TOWN', 26, 14, '(41.90672216, -87.69300325)'),
 (609808, 'Alex Haley Elementary Academy', 'ES', '11411 S Eggleston Ave', 'Chicago', 'IL', 60628, '(773) 535-5340', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609808.pdf', 'Rock Island Elementary Network', 'FAR SOUTH SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Weak', 28.0, 'NDA', 'NDA', 'Average', 58.0, 'Strong', 60.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Average', '49', '94.90%', 2.9, '94.70%', '94.70%', '51.6', '31.4', '17.3', '13.6', '43.7', '41.4', '36.3', '24.5', '64.8', '53.9', '1.8', '16.1', 11.6, 1.9, 0.5, -1.5, 'Yellow', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 525, 48, 'NDA', 1175378.7140000002, 1829178.573, 41.68663682, -87.63359476, 49, 'ROSELAND', 34, 22, '(41.68663682, -87.63359476)'),
 (610028, 'Alfred David Kohn Elementary School', 'ES', '10414 S State St', 'Chicago', 'IL', 60628, '(773) 535-5489', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610028.pdf', 'Rock Island Elementary Network', 'FAR SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Probation', 'Level 3', 'No', 'Very Weak', 19.0, 'Weak', '26', 'Weak', 22.0, 'Very Weak', 13.0, 'Weak', '21', 'Very Weak', '19', 'Average', '47', 'Weak', '45', '90.10%', 31.2, '94.20%', '96.40%', '41.3', '31.9', '34', '22.2', '42.8', '56.2', '29.6', '22.8', '80', '61.7', '4.3', '19.6', 5.0, 5.6, 0.5, -0.1, 'Yellow', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 428, 48, 'NDA', 1178053.498, 1835837.822, 41.70485072, -87.62360199, 49, 'ROSELAND', 34, 5, '(41.70485072, -87.62360199)'),
 (610098, 'Alfred Nobel Elementary School', 'ES', '4127 W Hirsch St', 'Chicago', 'IL', 60651, '(773) 534-4365', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610098.pdf', 'Garfield-Humboldt Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Weak', 37.0, 'Weak', '34', 'Weak', 37.0, 'Weak', 35.0, 'Weak', '48', 'Weak', '36', 'Average', '48', 'Average', '51', '94.60%', 24.8, '95.20%', '100.00%', '55.4', '33.2', '26.7', '23.2', '47.3', '50', '39.2', '28.1', '59.5', '51', '15.2', '16.7', 9.7, 7.1, -0.3, 0.7, 'Yellow', 'Yellow', '23.4', '44.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 801, 34, 'NDA', 1148503.002, 1908960.619, 41.90612797, -87.72993324, 23, 'HUMBOLDT PARK', 37, 25, '(41.90612797, -87.72993324)'),
 (609788, 'Alice L Barnard Computer Math & Science Center Elementary School', 'ES', '10354 S Charles St', 'Chicago', 'IL', 60643, '(773) 535-2625', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609788.pdf', 'Rock Island Elementary Network', 'FAR SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 46.0, 'NDA', 'NDA', 'Weak', 39.0, 'Average', 58.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Strong', '69', 'Average', '51', '95.60%', 28.5, '95.00%', '100.00%', '62.1', '38.5', '43', '38.8', '47.4', '61.8', '45.6', '40.4', '49.4', '61.4', '18.5', '29.6', 18.0, 15.7, 1.9, 1.9, 'Green', 'Green', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 274, 49, 'NDA', 1168627.899, 1835867.534, 41.70514024, -87.65811642, 72, 'BEVERLY', 19, 22, '(41.70514024, -87.65811642)'),
 (610334, 'Al Raby High School', 'HS', '3545 W Fulton Blvd', 'Chicago', 'IL', 60624, '(773) 534-6755', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610334.pdf', 'West Side High School Network', 'WEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Probation', 'Level 3', 'No', 'Average', 52.0, 'NDA', 'NDA', 'Average', 51.0, 'Average', 53.0, 'Weak', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '80.30%', 14.0, '95.10%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '12.8', '13', '14.1', '14', '1.2', '15.2', '1.1', '13.5', '72.2', '64.2', 551, 34, '74.3', 1152512.295, 1901720.85, 41.886183, -87.71539705, 27, 'EAST GARFIELD PARK', 28, 11, '(41.886183, -87.71539705)'),
 (610131, 'Ambrose Plamondon Elementary School', 'ES', '2642 W 15th Pl', 'Chicago', 'IL', 60608, '(773) 534-1789', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610131.pdf', 'Austin-North Lawndale Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Average', 45.0, 'NDA', 'NDA', 'Weak', 32.0, 'Weak', 28.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Weak', '45', 'Weak', '41', '96.90%', 0.6, '96.60%', '100.00%', '61.9', '14.3', '27.3', '37.9', '35', '54.8', '43.5', '25', '74.4', '40', '16.7', '25', 12.3, 11.4, -1.5, -1.3, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 171, 39, 'NDA', 1158816.3020000001, 1892329.996, 41.86028668, -87.69250468, 29, 'NORTH LAWNDALE', 28, 10, '(41.86028668, -87.69250468)')]

Double-click **here** for a hint

<!--
In sqlite the system catalog table called sqlite_master contains the table metadata
-->

Double-click **here** for the solution.

<!-- Solution using SQLite:

%sql SELECT name FROM sqlite_master WHERE type='table'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [9]:
# type in your query to retrieve the number of columns in the SCHOOLS table
df_school.columns
%sql select count(name) from PRAGMA_TABLE_INFO('chicagoschools');

 * sqlite:///RealWorldData.db
Done.

[(78,)]

Double-click **here** for the solution.

<!-- Solution SQLite:
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [10]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select name,type,length(type) from pragma_table_info('chicagoschools')

 * sqlite:///RealWorldData.db
Done.

[('School_ID', 'INTEGER', 7),
 ('NAME_OF_SCHOOL', 'TEXT', 4),
 ('Elementary, Middle, or High School', 'TEXT', 4),
 ('Street_Address', 'TEXT', 4),
 ('City', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('ZIP_Code', 'INTEGER', 7),
 ('Phone_Number', 'TEXT', 4),
 ('Link', 'TEXT', 4),
 ('Network_Manager', 'TEXT', 4),
 ('Collaborative_Name', 'TEXT', 4),
 ('Adequate_Yearly_Progress_Made_', 'TEXT', 4),
 ('Track_Schedule', 'TEXT', 4),
 ('CPS_Performance_Policy_Status', 'TEXT', 4),
 ('CPS_Performance_Policy_Level', 'TEXT', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 4),
 ('Safety_Icon', 'TEXT', 4),
 ('SAFETY_SCORE', 'REAL', 4),
 ('Family_Involvement_Icon', 'TEXT', 4),
 ('Family_Involvement_Score', 'TEXT', 4),
 ('Environment_Icon', 'TEXT', 4),
 ('Environment_Score', 'REAL', 4),
 ('Instruction_Icon', 'TEXT', 4),
 ('Instruction_Score', 'REAL', 4),
 ('Leaders_Icon', 'TEXT', 4),
 ('Leaders_Score', 'TEXT', 4),
 ('Teachers_Icon', 'TEXT', 4),
 ('Teachers_Score', 'TEXT', 4),
 ('Parent_Engagement_Icon', 'TEXT', 4),
 ('Parent_Engagement_Score', 'TEXT', 4),
 ('Parent_Environment_Icon', 'TEXT', 4),
 ('Parent_Environment_Score', 'TEXT', 4),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 4),
 ('Rate_of_Misconducts__per_100_students_', 'REAL', 4),
 ('Average_Teacher_Attendance', 'TEXT', 4),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT', 4),
 ('Pk_2_Literacy__', 'TEXT', 4),
 ('Pk_2_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Read__', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr_8_Explore_Math__', 'TEXT', 4),
 ('Gr_8_Explore_Read__', 'TEXT', 4),
 ('ISAT_Exceeding_Math__', 'REAL', 4),
 ('ISAT_Exceeding_Reading__', 'REAL', 4),
 ('ISAT_Value_Add_Math', 'REAL', 4),
 ('ISAT_Value_Add_Read', 'REAL', 4),
 ('ISAT_Value_Add_Color_Math', 'TEXT', 4),
 ('ISAT_Value_Add_Color_Read', 'TEXT', 4),
 ('Students_Taking__Algebra__', 'TEXT', 4),
 ('Students_Passing__Algebra__', 'TEXT', 4),
 ('9th Grade EXPLORE (2009)', 'TEXT', 4),
 ('9th Grade EXPLORE (2010)', 'TEXT', 4),
 ('10th Grade PLAN (2009)', 'TEXT', 4),
 ('10th Grade PLAN (2010)', 'TEXT', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT', 4),
 ('11th Grade Average ACT (2011)', 'TEXT', 4),
 ('Net_Change_PLAN_and_ACT', 'TEXT', 4),
 ('College_Eligibility__', 'TEXT', 4),
 ('Graduation_Rate__', 'TEXT', 4),
 ('College_Enrollment_Rate__', 'TEXT', 4),
 ('COLLEGE_ENROLLMENT', 'INTEGER', 7),
 ('General_Services_Route', 'INTEGER', 7),
 ('Freshman_on_Track_Rate__', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('Latitude', 'REAL', 4),
 ('Longitude', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER', 7),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('Ward', 'INTEGER', 7),
 ('Police_District', 'INTEGER', 7),
 ('Location', 'TEXT', 4)]

Double-click **here** for the solution.

<!-- Solution 

%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [27]:
%sql select NAME_OF_SCHOOL \
from chicagoschools \
where "Elementary, Middle, or High School"='ES' LIMIT 10

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School',),
 ('Adam Clayton Powell Paideia Community Academy Elementary School',),
 ('Adlai E Stevenson Elementary School',),
 ('Agustin Lara Elementary Academy',),
 ('Albert R Sabin Elementary Magnet School',),
 ('Alessandro Volta Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Alexander Graham Elementary School',),
 ('Alexander Hamilton Elementary School',),
 ('Alexander von Humboldt Elementary School',)]

Double-click **here** for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'? ("Elementary School, Middle School, High School")
-->

Double-click **here** for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from CHICAGO_PUBLIC_SCHOOLS_DATA where "Elementary, Middle, or High School"='ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [28]:
%sql select max(SAFETY_SCORE) from chicagoschools

 * sqlite:///RealWorldData.db
Done.

[(99.0,)]

Double-click **here** for a hint

<!--
Use the MAX() function
-->

Double-click **here** for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS_DATA

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [29]:
%sql select name_of_school from chicagoschools where safety_score = (select max(safety_score) from chicagoschools)

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Augustus H Burley Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Edgebrook Elementary School',),
 ('Ellen Mitchell Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('James G Blaine Elementary School',),
 ('LaSalle Elementary Language Academy',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Sauganash Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('Talman Elementary School',),
 ('Wildwood Elementary School',)]

Double-click **here** for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where \
  Safety_Score= (select MAX(Safety_Score) from CHICAGO_PUBLIC_SCHOOLS_DATA)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [37]:
%sql select name_of_school,Average_Student_Attendance from chicagoschools \
where "Average_Student_Attendance" = \
(select max(AVERAGE_STUDENT_ATTENDANCE) \
from chicagoschools) limit 10

 * sqlite:///RealWorldData.db
Done.

[('John Charles Haines Elementary School', '98.40%')]

Double-click **here** for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from CHICAGO_PUBLIC_SCHOOLS_DATA \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [11]:
%sql select name_of_school,AVERAGE_STUDENT_ATTENDANCE from chicagoschools \
order by AVERAGE_STUDENT_ATTENDANCE asc limit 5

 * sqlite:///RealWorldData.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%')]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [12]:
%sql select name_of_school,replace(AVERAGE_STUDENT_ATTENDANCE,'%','') from chicagoschools \
order by AVERAGE_STUDENT_ATTENDANCE asc limit 5

 * sqlite:///RealWorldData.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00')]

Double-click **here** for a hint

<!--
Use the REPLACE() function to replace '%' with ''

-->

Double-click **here** for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [16]:
%sql select name_of_school,AVERAGE_STUDENT_ATTENDANCE from chicagoschools \
where "AVERAGE_STUDENT_ATTENDANCE" < 70.0 \
order by AVERAGE_STUDENT_ATTENDANCE

 * sqlite:///RealWorldData.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Roberto Clemente Community Academy High School', '69.60%')]

In [18]:
%sql SELECT Name_of_School, Average_Student_Attendance  \
     from chicagoschools \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance

 * sqlite:///RealWorldData.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Roberto Clemente Community Academy High School', '69.60%')]

Double-click **here** for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)

-->

Double-click **here** for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [20]:
%sql select sum(College_Enrollment),COMMUNITY_AREA_NAME from chicagoschools \
group by community_area_name

 * sqlite:///RealWorldData.db
Done.

[(6864, 'ALBANY PARK'),
 (4823, 'ARCHER HEIGHTS'),
 (1458, 'ARMOUR SQUARE'),
 (6483, 'ASHBURN'),
 (4175, 'AUBURN GRESHAM'),
 (10933, 'AUSTIN'),
 (1522, 'AVALON PARK'),
 (3640, 'AVONDALE'),
 (14386, 'BELMONT CRAGIN'),
 (1636, 'BEVERLY'),
 (3167, 'BRIDGEPORT'),
 (9647, 'BRIGHTON PARK'),
 (549, 'BURNSIDE'),
 (1568, 'CALUMET HEIGHTS'),
 (5042, 'CHATHAM'),
 (7086, 'CHICAGO LAWN'),
 (2085, 'CLEARING'),
 (4670, 'DOUGLAS'),
 (4568, 'DUNNING'),
 (5337, 'EAST GARFIELD PARK'),
 (5305, 'EAST SIDE'),
 (4600, 'EDGEWATER'),
 (910, 'EDISON PARK'),
 (6832, 'ENGLEWOOD'),
 (1431, 'FOREST GLEN'),
 (531, 'FULLER PARK'),
 (9915, 'GAGE PARK'),
 (4552, 'GARFIELD RIDGE'),
 (2809, 'GRAND BOULEVARD'),
 (4051, 'GREATER GRAND CROSSING'),
 (963, 'HEGEWISCH'),
 (3975, 'HERMOSA'),
 (8620, 'HUMBOLDT PARK'),
 (1930, 'HYDE PARK'),
 (7764, 'IRVING PARK'),
 (1755, 'JEFFERSON PARK'),
 (4287, 'KENWOOD'),
 (7055, 'LAKE VIEW'),
 (5615, 'LINCOLN PARK'),
 (4132, 'LINCOLN SQUARE'),
 (7351, 'LOGAN SQUARE'),
 (871, 'LOOP'),
 (7257, 'LOWER WEST SIDE'),
 (1552, 'MCKINLEY PARK'),
 (1317, 'MONTCLARE'),
 (3271, 'MORGAN PARK'),
 (2091, 'MOUNT GREENWOOD'),
 (3362, 'NEAR NORTH SIDE'),
 (1378, 'NEAR SOUTH SIDE'),
 (7975, 'NEAR WEST SIDE'),
 (7922, 'NEW CITY'),
 (7541, 'NORTH CENTER'),
 (5146, 'NORTH LAWNDALE'),
 (4210, 'NORTH PARK'),
 (6469, 'NORWOOD PARK'),
 (140, 'OAKLAND'),
 (786, 'OHARE'),
 (6954, 'PORTAGE PARK'),
 (1620, 'PULLMAN'),
 (1547, 'RIVERDALE'),
 (4068, 'ROGERS PARK'),
 (7020, 'ROSELAND'),
 (4043, 'SOUTH CHICAGO'),
 (1859, 'SOUTH DEERING'),
 (14793, 'SOUTH LAWNDALE'),
 (4543, 'SOUTH SHORE'),
 (4388, 'UPTOWN'),
 (4006, 'WASHINGTON HEIGHTS'),
 (2648, 'WASHINGTON PARK'),
 (3700, 'WEST ELSDON'),
 (5946, 'WEST ENGLEWOOD'),
 (2622, 'WEST GARFIELD PARK'),
 (4207, 'WEST LAWN'),
 (3240, 'WEST PULLMAN'),
 (8197, 'WEST RIDGE'),
 (9429, 'WEST TOWN'),
 (4206, 'WOODLAWN')]

Double-click **here** for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click **here** for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [30]:
%sql select sum(College_Enrollment) as totalenrollment,COMMUNITY_AREA_NAME from chicagoschools \
group by community_area_name \
order by totalenrollment asc limit 5

 * sqlite:///RealWorldData.db
Done.

[(140, 'OAKLAND'),
 (531, 'FULLER PARK'),
 (549, 'BURNSIDE'),
 (786, 'OHARE'),
 (871, 'LOOP')]

Double-click **here** for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   LIMIT 5 

-->

### Problem 10

##### List 5 schools with lowest safety score.

In [33]:
%sql select name_of_school, safety_score from chicagoschools \
where "SAFETY_SCORE" != 'None' \
order by SAFETY_SCORE limit 5

 * sqlite:///RealWorldData.db
Done.

[('Edmond Burke Elementary School', 1.0),
 ("Luke O'Toole Elementary School", 5.0),
 ('George W Tilton Elementary School', 6.0),
 ('Foster Park Elementary School', 11.0),
 ('Emil G Hirsch Metropolitan High School', 13.0)]

In [32]:
%sql select min(SAFETY_SCORE) from chicagoschools

 * sqlite:///RealWorldData.db
Done.

[(1.0,)]

Double-click **here** for the solution.

<!-- Solution SQLite:

%sql SELECT name_of_school, safety_score \
FROM CHICAGO_PUBLIC_SCHOOLS_DATA  where safety_score !='None' \
ORDER BY safety_score \
LIMIT 5

-->

### Problem 11

##### Get the hardship index for the community area of the school which has College Enrollment of 4368

In [38]:
import pandas
df_socio = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
df_socio.to_sql("chicago_socioeconomic_data", con, if_exists='replace', index=False,method="multi")

%sql select b.hardship_index, b.community_area_name from chicagoschools a, chicago_socioeconomic_data b where a.community_area_name = b.community_area_name

 * sqlite:///RealWorldData.db
Done.

[]

In [42]:
%sql select community_area_name,college_enrollment from chicagoschools limit 10

 * sqlite:///RealWorldData.db
Done.

[('LINCOLN PARK', 813),
 ('SOUTH SHORE', 521),
 ('ASHBURN', 1324),
 ('NEW CITY', 556),
 ('ARMOUR SQUARE', 302),
 ('ALBANY PARK', 266),
 ('NORTH CENTER', 4368),
 ('WEST TOWN', 620),
 ('NORTH CENTER', 232),
 ('ALBANY PARK', 1023)]

In [40]:
%sql select b.hardship_index,a.community_area_name \
from chicagoschools a,chicago_socioeconomic_data b \
where UPPER(a.community_area_name) = UPPER(b.community_area_name) \
and a.college_enrollment = 4368

 * sqlite:///RealWorldData.db
Done.

[(6.0, 'NORTH CENTER')]

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index from CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS_DATA CPS 
where CD.community_area_number = CPS.community_area_number 
and college_enrollment = 4368


-->

### Problem 12

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [52]:
%sql select a.hardship_index, a.community_area_name,b.college_enrollment \
from chicago_socioeconomic_data a, chicagoschools b \
where UPPER(a.community_area_name) = UPPER(b.community_area_name) \
order by b.college_enrollment desc limit 1

 * sqlite:///RealWorldData.db
Done.

[(6.0, 'North Center', 4368)]

In [57]:
%sql select community_area_name, hardship_index 
from chicago_socioeconomic_data where community_area_name in \
(select community_area_name \
from chicagoschools order by college_enrollment desc limit 1 )

SyntaxError: invalid syntax (1051642849.py, line 2)

In [50]:
%sql select max(a.hardship_index), a.community_area_name \
from chicago_socioeconomic_data a, chicagoschools b \
where b.college_enrollment = 4368 \
group by a.community_area_name order by a.hardship_index desc limit 5

 * sqlite:///RealWorldData.db
Done.

[(98.0, 'Riverdale'),
 (97.0, 'Fuller Park'),
 (96.0, 'South Lawndale'),
 (94.0, 'Englewood'),
 (93.0, 'Gage Park')]

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select community_area_number, community_area_name, hardship_index from CENSUS_DATA \
   where community_area_number in \
   ( select community_area_number from CHICAGO_PUBLIC_SCHOOLS_DATA order by college_enrollment desc limit 1 )
-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2022-03-04        | 2.2     | Lakshmi Holla     | Made changes in markdown cells |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>